html,body{
    background-color: #0f380f;
    user-select: none;
}
#header{
    color:#8bac0f;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #9bbc0f;
    border-style: solid;
}
#dice{
    height: 50px;
    width: auto;
}
#saida{
    color: #9bbc0f;
}
#footer{
    color:#8bac0f;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}
#footer:hover{
    transform: scale(1.1);
}
#play-container{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
 

    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#play{
    position: relative;
    height: 300px;
    width: auto;
    transition: transform 0.3s;
    bottom: 0;
    margin-top: 100px;
  
    
}
#play:hover{
    transform: scale(1.1);
}
#setas{
    gap: 30px;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    display:flex;
    flex-direction: row;
    font-size: 50px;
    color: #9bbc0f;
}
.st{ 
    transition: transform 0.3s;
    z-index: 10;
}
.st:hover{
    z-index: 10;
    transform: scale(1.1);
}

#avatar{
    height: 100px;
    border-style: solid;
    border-color: #9bbc0f;
}
#nickname{
 
    color: #9bbc0f;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: #9bbc0f;
    font-weight: bold;
}
#selecao-container{

    display:flex;
    flex-direction: column;
 
    
}