html,body{
    background-color: rgb(19, 19, 19);
    user-select: none;
}
#header{
    color:rgb(13, 245, 13);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color:rgb(13, 245, 13) ;
    border-style: solid;
}
#dice{
    height: 50px;
    width: auto;
}
#saida{
    color:rgb(13, 245, 13);
}
#footer{
    color:rgb(13, 245, 13);
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}
#footer:hover{
    transform: scale(1.1);
}
#play-container{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
 

    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#play{

    height: 300px;
    width: auto;
    transition: transform 0.3s;
    margin-top: 300px;
    
}
#play:hover{
    transform: scale(1.1);
}
#setas{
    gap: 300px;
    margin-top: 150px;
    text-align: center;
    justify-content: center;
    display:flex;
    flex-direction: row;
    font-size: 50px;
    color:rgb(13, 245, 13);
}
.st{ 
    transition: transform 0.3s;
    z-index: 10;
}
.st:hover{
    z-index: 10;
    transform: scale(1.1);
}
